.container-grid {
  display: flex;
  justify-content: space-between;
}

.shipping-info__column {
  width: 40%;
  box-sizing: border-box;
  margin: 50px 0;
  gap: 20px;
}
.tertiary-heading {
  font-size: var(--headng-title);
  font-weight: 700;
  margin-bottom: 1rem;
}
.shipping-info__column p {
  font-size: var(--body-text);
  line-height: 1.5;
  color: var(--color-text);
}
@media screen and (max-width: 768px) {
  .shipping-info__column {
    width: 100%;
  }
}
