.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.header-content {
  font-size: var(--headng-title);
  color: var(--accent-color);
  text-shadow: 0 0 10px var(--secondary-color);
  font-weight: 700;
}
