.order-popup__form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10999;
}

.popup-form__inner {
  position: relative;
  width: 100%;
  max-width: 600px;
  padding: 30px;
  background-color: var(--accent-color);
  border-radius: 15px;
  color: var(--secondary-color);
}

.popup-form__inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.popup-form__inner h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.popup-form__inner p {
  font-size: 1.2rem;
  color: #555555;
  margin-bottom: 20px;
}

form {
  display: grid;
  grid-gap: 20px;
}

label {
  font-size: 1.2rem;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .order-popup__form {
    z-index: 200000;
  }
  .popup-form__inner {
    padding: 50px;
  }
  .popup-form__inner h1 {
    font-size: 2.5rem;
  }
  .popup-form__inner p {
    font-size: 1.5rem;
  }
  form {
    z-index: 2000;
  }
}
