.slider-section {
  margin-top: 6.25rem;
  padding: 4.375rem;
  overflow: hidden;
}
.slider-wrapper {
  display: flex;
  gap: 5%;
}
.slider-carousal {
  width: 50%;
  margin-bottom: 3.125rem;
}
.slider-carousal img {
  width: 100%;
  height: 80vh;
  border-radius: 1rem;
}
.slide-card__icon {
  color: #000;
}
.slick-prev:before,
.slick-next:before,
.slick-dots li.slick-active button:before {
  color: var(--main-color) !important;
}
.slider-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 100;
}
.slider_content__title {
  font-size: var(--headng-title);
}
.slider_content__text {
  padding-top: 1.25rem;
  text-align: justify;
}
.slider_content__blockquote {
  color: var(--text-color);
  border-left: 0.25rem solid var(--main-color);
  padding-left: 1.25rem;
  padding-top: 0.5rem;
}
.slider-footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 6rem;
}
.slider-card {
  width: 48%;
}

/* .slider-card__left {
  order: 2;
} */

.slider-card__content {
  padding: 2rem;
  background-color: var(--main-color);
  border-radius: 15px;
}
.slider-card__title {
  display: flex;
  align-items: center;
}

.slider-card__heading {
  font-size: var(--headng-title);
  padding-bottom: 0.5rem;
}
.slider-card__image {
  width: 600px;
  object-fit: cover;
  border-radius: 15px;
}
@media screen and (max-width: 768px) {
  .slider-section {
    padding: 2rem;
  }
  .slider-wrapper {
    flex-direction: column;
  }
  .slider-carousal {
    width: 100%;
  }
  .slider-content {
    width: 100%;
  }
  .slider-footer__container {
    margin: 2rem 0;
  }
}
