.contact-form__container {
  margin: 4rem 6rem;
  text-align: center;
}

.contact-form__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-form__left {
  width: 50%;
}

.contact-form__right {
  width: 45%;
}

.contact-form__container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-form__container form textarea {
  resize: vertical;
}

.contact-form__container form button {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.contact-form__container img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .contact-form__container {
    margin: 4rem 2rem;
  }
  .contact-form__left h1 {
    font-size: 2rem;
  }
  .contact-form__content {
    flex-direction: column;
  }

  .contact-form__right {
    display: none;
  }
}
