.contact-form__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}

.contact-form__left {
  width: 50%;
}

.contact-form__right {
  width: 45%;
}
.contact-form__container {
  margin: 4rem 6rem;
  text-align: center;
}

.contact-form__container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form label {
  display: none;
}

form input:focus,
form textarea:focus,
form select:focus {
  outline: none;
}

.contact-form__container form input,
.contact-form__container form textarea {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 0.5px solid var(--main-color);
  border-radius: 5px;
}

.contact-form__container form textarea {
  resize: vertical;
}

.contact-form__container form button {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.contact-form__container form input::placeholder,
.contact-form__container form textarea::placeholder {
  color: var(--main-color);
}
.contact-form__container img {
  width: 450px;
  height: 550px;
  object-fit: cover;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .contact-form__container {
    margin: 4rem 2rem;
  }

  .contact-form__container form {
    width: 100%;
  }

  .contact-form__right {
    display: none;
  }
}
