.header-section {
  position: fixed;
  width: 100%;
  background-color: var(--secondary-color);
  border-bottom: 0.063rem solid var(--main-color);
  z-index: 9999;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6.25rem;
}
.nav-item {
  display: flex;
}
.nav-item li {
  padding: 0 0.938rem;
}
.nav-item .navigation-link {
  color: var(--main-color);
  font-size: 1.25rem;
  font-weight: 500;
}

.nav-item .navigation-link:hover {
  text-decoration: underline;
  padding-bottom: 0.25rem;
}

.mobile-menu {
  display: none;
}
