.container-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 80%;
  margin: 0 auto;
}

.container-grid > div {
  flex: 1;
  margin: 10px;
}

@media only screen and (max-width: 768px) {
  .container-grid {
    flex-direction: column;
  }

  .container-grid > div {
    flex: 1;
    margin: 10px 0;
  }
}
